[submodule "plugin_ci"]
	path = plugin_ci
	url = git@github.com:opengisch/plugin_ci.git
[submodule "plaingeometryeditor/qgissettingmanager"]
	path = plaingeometryeditor/qgissettingmanager
	url = git@github.com:opengisch/qgissettingmanager.git
